:root {
  --secondary-color: #c0c0c0;
  --background-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --card-background-color: #ffffff;
  --shadows: -2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  --card-border: 2rem;
  --input-border: 0.3rem;
  --filter-border: 1rem;
  --detaills-border: 0.8rem;
  --default-transition: all 0.3s linear;
}

body {
  background-color: var(--background-color)
}

.card-header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  min-height: 80vh;
  padding-top: 1vh;
}

.footer {
  min-height: 13vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  box-shadow: 2px -2px 4px 0px rgba(0, 0, 0, 0.75);
}

.header {
  min-height: 10vh;
}

.card-media {
  width: 100%;
  height: auto;
  border-radius: var(--card-border) var(--card-border) 0 0;
}